<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link href='http://fonts.googleapis.com/css?family=Exo:400,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div>
	<h1 class="rad">RadDash</h1>
	<h5> ..... where all your feeds are rrrrraaaaadddddiiiicccaaaallll</h5>
	</div>
	<h3>Search Results: #<%= search %></h3>
	<ul>
		<% tagged.each do |tag| %>
			<% tag.each do |post| %>
				<li><a href="<%= post.url %>"><%= post.content %></a></li>
			<% end %>
		<% end %>
	</ul>
</body>
</html>