body {
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	background-color: silver;
	margin: 0 auto;
}

h1 {
	font-size: 30px;
	margin: 0 auto;
	padding: 15px 0 0 0;
	color: #2A15C2;
	background: #897DE1;
}

h3 {
	margin-top: 3px;
	background-color: #AC75DF;
	color: #FFF650;
	padding: 5px 0;

}

div .rad {
	font-size: 100px;
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-style: italic;
	color: #FFF200;
	margin: 0 auto;
	background-image: url("http://bgfons.com/upload/water_texture2332.jpg");
	background-size: 100% 100%;
	overflow: 100%;
	background-color: #7C2BC6;
}

div h5 {
	font-size: 20px;
	font-family: 'Exo', sans-serif;
	font-weight: 400;
	font-style: italic;
	color: #FFF200;
	margin: 0 auto;
	background-color: #7C2BC6;
}

.feeds {
	display: block;
	margin-bottom: 5px;
}

a:link {
	color: #4836C9;
}

a:hover {
	color: #2A15C2;
}

a:visited {
	color: #690BBE;
}

ul {
	list-style-type: none;
	margin-bottom: 20px;
}

li {
	margin: 2px 0 2px 0;
	padding: 2px 0 2px 0;
}

form {
	display: inline;
}

button {
	background-color: silver;
	padding: 0 3px 0 3px;
}

button:hover {
	background-color: slategrey;
	border-radius: 5px;
	padding: 0 3px 0 3px;
}